*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-main: hsl(0, 0%, 0%);
    --bg-root: hsl(220, 10%, 10%);

    --bg-button: hsl(220, 5%, 20%);
    --bg-button-hover: hsl(220, 5%, 25%);
    --bg-button-active: hsl(220, 5%, 30%);
    
    --bg-operator: hsl(220, 100%, 20%);
    --bg-operator-hover: hsl(220, 100%, 25%);
    --bg-operator-active: hsl(220, 100%, 30%);

    --bg-equal: hsl(220, 100%, 35%);
    --bg-equal-hover: hsl(220, 100%, 40%);
    --bg-equal-active: hsl(220, 100%, 45%);

    
    --text-button: hsl(0, 0%, 100%);
    --text-main: hsl(0, 0%, 100%);
    --text-muted: hsl(220, 100%, 70%);
    --text-link-color: hsl(220, 100%, 56%);

    --font: normal 400 1.75rem/1em "Outfit", sans-serif;
    --font-small: normal 300 1.25rem/1em "Outfit", sans-serif;

    --transition: 150ms ease-in-out;
}

html, body {
    height: 100%;
    width: 100%;
}

body{
    background-color: var(--bg-main);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.root{
    background-color: var(--bg-root);
    width: min(100%, 21.25rem);
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 16px;
    backdrop-filter: blur(5px);
}

.inputs-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(5, 4rem);
    grid-template-columns: repeat(4, 1fr);
    gap: 0.75rem;
}

.result{
    width: 100%;
    height: fit-content;
    min-height: 5.75rem;
    margin-bottom: 1rem;
    border-radius: 16px;
    background-color: var(--bg-button);
    color: var(--text-main);
    font: var(--font);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.5rem;
    text-align: right;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#secondary {
    font: var(--font-small);
    color: var(--text-muted);
}

button {
    height: 100%;
    font: var(--font);
    background-color: var(--bg-button);
    color: var(--text-button);
    border-radius: 16px;
    cursor: pointer;
    display: grid;
    place-items: center;
    transition: var(--transition);
    border: none;
}

button:hover {
    background-color: var(--bg-button-hover);
}

button:active {
    background-color: var(--bg-button-active);
}

.operator-button {
    background-color: var(--bg-operator);
}

.operator-button:hover {
    background-color: var(--bg-operator-hover);
}

.operator-button:active {
    background-color: var(--bg-operator-active);
}

#equalButton {
    background-color: var(--bg-equal);
    grid-column: span 2;
}

#equalButton:hover {
    background-color: var(--bg-equal-hover);
}

#equalButton:active {
    background-color: var(--bg-equal-active);
}

footer {
    position: fixed;
    bottom: 1.5rem;
    left: 1.5rem;
    font: var(--font-small);
    text-align: center;
    color: var(--text-main);
}

footer a {
    font-weight: 500;
    color: var(--text-link-color);
    text-decoration: underline;
}

footer a:hover {
    color: var(--text-color);
    text-decoration: underline;
}

@media screen and (max-width: 300px) {
    :root {
        --font: normal 400 1.5rem/1em "Outfit", sans-serif;
        --font-small: normal 300 1rem/1em "Outfit", sans-serif;
    }

    .root {
        padding: 0.75rem;
    }
}